@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-blue-2 text-slate-100;
}

::-webkit-scrollbar {
	padding: 10px;
	width: 5px;
	opacity: 0;
}
::-webkit-scrollbar-track {
	background: #575c5500;
	border-radius: 100px;
}
::-webkit-scrollbar-thumb {
	background: #d4d4d450;
	border-radius: 13px;

}

::-webkit-scrollbar-button {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-corner{
	background: rgba(255, 0, 0, 0);
	

}
